<div class="grid-container"
     infiniteScroll
     debounce
     [infiniteScrollUpDistance]="2"
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="300"
     [immediateCheck]="false"
     [scrollWindow]="false"
     (scrolled)="onScrollDown()">
  <div class="user-container">
    <app-upload (sendPublication) = "afterSend($event)"></app-upload>
  </div>
  <div class="feed-container">
    <div *ngFor="let publication of list">
      <app-publication [data]=publication></app-publication>
    </div>
  </div>

</div>
