<div class="grid-container">
  <div class="user-container">

    <form [formGroup]="pubForm" class="pub-container">


      <input class="file-input" #fileInput
             type="file"
             (change)="selectFile($event)">

      <div>
        <mat-form-field class="comment">
          <textarea matInput placeholder="Leave a comment" required></textarea>
        </mat-form-field>
      </div>
      <button class="pub-button" (click)="publish()" type="submit"  mat-flat-button>Publish</button>
    </form>

  </div>

  <div class="feed-container">
    <div
      *ngFor="let publication of list">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
             alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>{{publication.text}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="param-container"></div>
</div>
