
.grid-container {
  overflow-y: scroll;
  height: 765px;
  display: grid;
  grid-template-columns: 30% 60%;
  .user-container {
    display: grid;
    justify-self: center;
    padding-top: 40px;

    width: auto;
  }
  .feed-container {

  }

}




